.contacts__actions {
  display: flex;
  justify-content: center;
}

.contacts__empty {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 20px;
  width: 350px;
  border: 1px solid #f0564f;
  border-radius: 10px;
  margin: auto;
  margin-top: 150px;
  background-color: #f9eded;
}

.contacts__empty svg {
  color: #f0564f;
}

.contacts__empty p {
  font-size: 18px;
  color: #f0564f;
}

.contact__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
